.listnavigation {
    display: none;
}

.containerLight {
    display: none;
}


@media (min-width: 359px) and (max-width: 1235px) {

    .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 0px 100px 20px;
        top: 76px;
        right: 0px;
        width: 100%;
        height: 550px;
        background-color: #C2D935;
        box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.14);
        z-index: 22;
    }

    .containerLight {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 0px 100px 20px;
        top: 76px;
        right: 0px;
        width: 100%;
        height: 550px;
        background-color: white;
        box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.14);
        z-index: 22;
    }

    .listnavigation {
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        padding: 0px;
        margin: 0px;
        width: 248px;
        height: 319px;
    }

    .listIconsLink {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 224px;
        height: 32px;
    }

    .vkIcon {
        width: 32px;
        height: 32px;
        background-image: url('../../svg/vkBurger.svg');
    }

    .telegaIcon {
        width: 32px;
        height: 32px;
        background-image: url('../../svg/telegaBurger.svg');
    }

    .facebookIcon {
        width: 32px;
        height: 32px;
        background-image: url('../../svg/faceBurger.svg');
    }

    .youtubeIcon {
        width: 32px;
        height: 32px;
        background-image: url('../../svg/youtubeBurger.svg');
    }

    .li {
        margin: 0px;
        list-style: none;
        font-size: 26px;
        font-weight: 600;
        line-height: 31.2px;
        font-family: 'RobotoRegular', sans-serif;
    }

    .li:hover {
        font-size: 28px;
    }
    
    .linkAncor {
        text-decoration: none;
        color: #333333;
    }
}





