.container {
    margin-top: 112px;
    padding: 0px 141px 0px 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 467px;
}

.imageMobile {
    width: 631px;
    height: 467px;
    background-image: url('../../images/phone.png');
}

.wrapperDescriptionMobileVersion {
    width: 431px;
    height: 268px;
}

.sectionName {
    margin: 0px;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    color: #333333;
}

.description {
    margin-top: 20px;
    font-family: 'RobotoRegular', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    color: #333333;
}

.button {
    margin-top: 40px;
    width: 208px;
    height: 61px;
    border-radius: 123px;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    font-family: 'RobotoRegular', sans-serif;
    background: #DBEE28;
    cursor: pointer;
    border: none;
}

.button:hover {
    background: #E6FA2B;
}

.button:active {
    background: #D1FA2B;
}