.container {
    margin: 0px 0px 112px 0px;
    padding: 0px 0px 97px 0px;
    width: 1360px;
    height: 498px;
    background-color: #C2D935;
    border-radius: 0px 0px 32px 32px;
}

.buttonLetsplay {
    width: 193px;
    height: 62px;
    border-radius: 158px;
    color: #F8F7FC;
    font-weight: 500;
    font-size: 24px;
    line-height: 23.44px;
    font-family: 'RobotoRegular', sans-serif;
    background: #7676E8;
    line-height: 28.8px;
    cursor: pointer;
    border: none;
}

.buttonLetsplay:hover {
    background: #4F4CE2;
}

.buttonLetsplay:active {
    background: #4D4ACC;
}

.wrapperContext {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
    width: 1360px;
    height: 351px;
}

.wrapperInfoAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 601px;
    height: 351px;
}

.wrapperVideo {
    width: 640px;
    height: 360px;
}

.videoPlayer {
    width: 640px;
    height: 360px;
    background-image: url('../../svg/backVideo.svg');
    background-size: cover;
    border-radius: 32px;
}

.svgPopugai {
    position: relative;
    top: -170px;
    left: 390px;
    width: 174px;
    height: 134px;
    background-image: url('../../svg/Popugai.svg');
}

.wrapperInfo {
    width: 601px;
    height: 198px;
}

.title {
    margin: 0px;
    color: #333333;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    font-family: 'RobotoRegular', sans-serif;
}

.subTitle {
    margin-top: 20px;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    font-family: 'RobotoRegular', sans-serif;
}



