.container {
    margin: 0px 0px 112px 0px;
    padding: 0px 0px 97px 0px;
    width: 1360px;
    height: 498px;
    background-color: #C2D935;
    border-radius: 0px 0px 32px 32px;
}

.bottomLine {
    text-decoration: none;
}

.button {
    display: block;
    width: 193px;
    height: 62px;
    border-radius: 158px;
    color: #F8F7FC;
    font-weight: 500;
    font-size: 24px;
    line-height: 23.44px;
    font-family: 'RobotoRegular', sans-serif;
    background: #7676E8;
    line-height: 28.8px;
    cursor: pointer;
    border: none;
}

.buttonDisable {
    display: none;
}

.button:hover {
    background: #4F4CE2;
}

.button:active {
    background: #4D4ACC;
}

.wrapperContext {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
    width: 1360px;
    height: 351px;
}

.wrapperInfoAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 601px;
    height: 351px;
}

.wrapperVideo {
    width: 640px;
    height: 360px;
}

.videoPlayer {
    width: 640px;
    height: 360px;
    background-image: url('../../svg/backVideo.svg');
    background-size: cover;
    border-radius: 32px;
}

.wrapperInfo {
    width: 601px;
    height: 198px;
}

.title {
    margin: 0px;
    color: #333333;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    font-family: 'RobotoRegular', sans-serif;
}

.subTitle {
    margin-top: 20px;
    width: 543px;
    color: #333333;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    font-family: 'RobotoRegular', sans-serif;
}

.infoDisabledButton {
    display: none;
}


@media (min-width: 359px) and (max-width: 1235px) {

    .container {
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 97px 0px;
        width: 100%;
        height: 605px;
        background-color: #C2D935;
        border-radius: 0px 0px 36px 36px;
    }

    .wrapperContext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0px 32px 0px 32px;
        width: 100%;
        height: 605px;
    }

    .wrapperInfoAndButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 152px;
    }

    .wrapperInfo {
        width: 320px;
        height: 152px;
    }

    .title {
        margin: 22px 0px 0px 0px;
        color: #333333;
        font-weight: 600;
        font-size: 26px;
        line-height: 31.2px;
        font-family: 'RobotoRegular', sans-serif;
        text-align: center;
    }
    
    .subTitle {
        margin: 19px 0px 0px 0px;
        width: 320px;
        color: #333333;
        font-weight: 600;
        font-size: 20px;
        line-height: 23.44px;
        font-family: 'RobotoRegular', sans-serif;
        text-align: center;
    }

    .wrapperVideo {
        margin: 70px 0px 0px 0px;
        width: 320px;
        height: 180px;
    }

    .videoPlayer {
        margin: 0px 0px 0px 0px;
        width: 320px;
        height: 180px;
        background-image: url('../../svg/backVideoMobile.svg');
        background-size: cover;
        border-radius: 32px;
    }

    .svgPopugai {
        display: none;
    }

    .buttonDisable {
        display: block;
        margin-top: 36px;
        width: 320px;
        height: 61px;
        border-radius: 123px;
        color: white;
        font-weight: 500;
        font-size: 24px;
        line-height: 28.8px;
        font-family: 'RobotoRegular', sans-serif;
        background: #bdbdbb;
        line-height: 28.8px;
        cursor: pointer;
        border: none;
    }

    .button {
        display: none;
    }

    .infoDisabledButton {
        display: block;
        margin: 14px 0px 0px 0px;
        font-weight: 600;
        font-size: 13px;
        line-height: 15.6px;
        font-family: 'RobotoRegular', sans-serif;
        color: #91A41C;
    }
}



